body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    text-align: center;
    line-height: 44px;
    width: 100%;
    height: 44px;
    background-color: white;
    font-weight: bold;
}

header>img {
    position: absolute;
    top: 12px;
    left: 5px;
    width: 20px;
    height: 20px;
}

header>div {
    height: 44px;
    line-height: 44px;
}

header>div>span {
    color: #999999;
}

.next {
    position: absolute;
    top: 0;
    right: 0;
    line-height: 44px;
    color: #7EB6FF;
    margin-right: 10px;
}

.comBox {
    position: absolute;
    top: 88px;
    left: 0;
    width: 100%;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

.select {
    display: none;
    margin-left: 10px;
    z-index: 99;
}

.item {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 46px;
    border-top: 1px solid #e7e7e7;
}

.item>div {
    position: relative;
    width: 85%;
}

.item>div>span {
    display: inline-block;
    width: calc(100% - 50px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: absolute;
    top: 0;
    left: 60px;
    line-height: 46px;
}

.comBox>div:nth-last-of-type(1) {
    border: none;
}

.comTitle {
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    height: 45px;
    border: none;
    line-height: 45px;
    font-weight: bold;
    padding: 10px 0 0 15px;
    line-height: 30px;
}

.comImg {
    width: 34px;
    height: 34px;
    margin-top: 6px;
    margin-left: 15px;
    border-radius: 3px;
}

.comInfo {
    width: 26px;
    height: 26px;
    margin-top: 10px;
}

.searchBox {
    position: fixed;
    top: 44px;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 44px;
    padding: 7px 0 7px 15px;
    border-bottom: 1px solid rgb(231, 231, 231);
    background-color: #efeff4;
}

.searchIn {
    position: relative;
    width: calc(100% - 60px);
    height: 30px;
    background-color: white;
    border-radius: 3px;
    box-sizing: border-box;
}

.searchIn>input {
    position: absolute;
    top: 0;
    left: 25px;
    padding: 0;
    width: 80%;
    height: 30px;
    font-size: 14px;
    text-align: left;
    background-color: white;
}

.searchIn>input::placeholder {
    font-size: 12px;
}

.searchImg {
    position: absolute;
    top: 7.5px;
    left: 5px;
    width: 15px;
    height: 15px;
}

.toEmpty {
    position: absolute;
    top: 7.5px;
    right: 10px;
    width: 15px;
    height: 15px;
}

.search {
    position: absolute;
    top: 0;
    right: 15px;
    line-height: 44px;
    font-size: 14px;
    color: #7EB6FF;
}

footer {
    display: none;
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99;
    background-color: white;
}

.toBack,
.pass {
    position: absolute;
    width: calc((100% - 30px)/2);
    text-align: center;
    line-height: 40px;
    border-radius: 4px;
    top: 5px;
}

.toBack {
    left: 10px;
    border: 1px solid #cccccc;
    color: #7EB6FF;
}

.pass {
    right: 10px;
    background-color: #7EB6FF;
    color: white;
}

.mescroll {
    position: fixed;
    top: 0;
    bottom: 0;
    height: auto;
    /*如设置bottom:50px,则需height:auto才能生效*/
}