body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    color: #333333;
}

header {
    position: relative;
    width: 100%;
    height: 44px;
    box-shadow: 0 2px 2px 0 rgb(231, 231, 231);
    background-color: white;
    text-align: center;
    line-height: 44px;
    font-weight: bold;
}

header>img {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 11px;
    left: 5px;
}

.areaBox {
    position: relative;
    width: 100%;
    background-color: white;
    height: 40px;
    margin-top: 20px;
}

.areaTitle {
    position: absolute;
    line-height: 40px;
    left: 15px;
    top: 0;
}

.provinceBox {
    width: 70%;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
}

.province {
    position: absolute;
    top: 0;
    right: 30px;
    line-height: 40px;
    color: #999999;
    font-size: 14px;
}

.provinceBox>img {
    position: absolute;
    top: 8px;
    right: 6px;
    width: 25px;
    height: 25px;
}


/* .taxes {
    width: 100%;
    height: 20px;
    font-size: 13px;
    line-height: 20px;
    padding-left: 15px;
}

.taxesValueBox {
    width: 100%;
    background-color: white;
    padding: 0 15px;
}

.taxesValueBox>div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #e7e7e7;
}

.taxesValueBox>div:nth-last-of-type(1) {
    border: none;
}

.taxesValueBox>div>span {
    line-height: 40px;
}

.taxesValueBox>div>span:nth-of-type(2) {
    color: #666666;
    font-size: 14px;
} */

.taxes {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    margin-top: 10px;
    background-color: white;
    padding: 0 15px;
}

.taxes>span {
    line-height: 40px;
}

.taxes>span:nth-of-type(2) {
    color: #666666;
    font-size: 14px;
}

.discount {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    margin-top: 10px;
    background-color: white;
    padding: 0 15px;
}

.discount>span {
    line-height: 40px;
}

.discount>span:nth-of-type(2) {
    color: #666666;
    font-size: 14px;
}