body {
    margin: 0;
    padding: 0;
    color: #333333;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    text-align: center;
    line-height: 44px;
    width: 100%;
    height: 44px;
    background-color: white;
    box-shadow: 0 2px 2px 0 rgba(231, 231, 231, 1);
}

header>img {
    position: absolute;
    top: 12px;
    left: 5px;
    width: 20px;
    height: 20px;
}

header>div {
    position: absolute;
    top: 0;
    right: 5px;
    height: 44px;
    line-height: 44px;
}

header>div>span {
    color: #999999;
}

.next {
    line-height: 44px;
    color: #7EB6FF;
    margin-right: 10px;
}

.list {
    margin-top: 152px;
    margin-bottom: 20px;
}

.list>div {
    position: relative;
    width: 100%;
    background-color: white;
    margin-top: 10px;
}

.list>div:nth-of-type(1) {
    margin-top: 20px;
}


/* .list>div:nth-last-of-type(1) {
    margin-bottom: 10px;
} */

.list>div>div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.list>div img {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.list>div>div:nth-of-type(1) {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid rgb(240, 240, 240);
    font-size: 14px;
    padding: 0 5px 0 15px;
}

.time {
    color: #999999;
}

.amount {
    height: 45px;
    /* line-height: 25px; */
    font-size: 13px;
    /* color: #999999; */
    font-weight: bold;
    padding: 0 15px 0 15px;
}
.amount>div>div:nth-of-type(2){
    color: #999999;
    font-size: 10px;
    font-weight: 100;
}
.amount div{
    text-align: center;
}

.searchBox {
    /* display: none; */
    position: fixed;
    top: 44px;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 44px;
    padding: 7px 0 7px 15px;
    background-color: #F2F2F2;
}

.searchIn {
    position: relative;
    width: calc(100% - 60px);
    height: 30px;
    background-color: white;
    border-radius: 3px;
    box-sizing: border-box;
}

.searchIn>input {
    position: absolute;
    top: 0;
    left: 25px;
    padding: 0;
    width: 80%;
    height: 30px;
    font-size: 14px;
    text-align: left;
    background-color: white;
}

.searchIn>input::placeholder {
    font-size: 12px;
}

.searchImg {
    position: absolute;
    top: 7.5px;
    left: 5px;
    width: 15px;
    height: 15px;
}

.toEmpty {
    position: absolute;
    top: 7.5px;
    right: 10px;
    width: 15px;
    height: 15px;
}

.search {
    position: absolute;
    top: 0;
    right: 15px;
    line-height: 44px;
    font-size: 14px;
    color: #7EB6FF;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: white;
    font-size: 12px;
}

.del,
.submit {
    position: absolute;
    top: 0;
    width: calc((100% - 45px)/2);
    height: 40px;
    margin-top: 5px;
    border-radius: 4px;
}

.del div:nth-of-type(1),
.submit div:nth-of-type(1) {
    font-weight: bold;
}

.del div:nth-of-type(2),
.submit div:nth-of-type(2) {
    color: #999999;
}

.del {
    left: 0;
    margin-left: 15px;
    text-align: left;
}

.submit {
    right: 0;
    margin-right: 15px;
    text-align: right;
}

.select {
    display: none;
    position: absolute;
    top: 11px;
    left: 10px;
}

.filterBox {
    position: fixed;
    top: 88px;
    left: 0;
    z-index: 99;
    /* display: none; */
    width: 100%;
    height: 44px;
    color: rgb(153, 153, 153);
    background-color: white;
    padding: 0 5px 0 15px;
    font-size: 14px;
    line-height: 44px;
    border-bottom: 1px solid rgb(240, 240, 240);
}

.nextImg {
    position: absolute;
    top: 8px;
    right: 5px;
    width: 25px;
    height: 25px;
}

.filterImg {
    position: relative;
    top: 2px;
    width: 15px;
    height: 15px;
}

.filterParam {
    background-color: white;
}

.selectTime {
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 44px;
    background-color: white;
    border-bottom: 1px solid rgb(240, 240, 240);
    line-height: 44px;
    font-size: 14px;
}

.timeBox {
    width: 75%;
    display: flex;
    justify-content: space-between;
}

#startTime,
#endTime {
    display: flex;
    justify-content: space-around;
    /* position: relative; */
    width: 40%;
    height: 30px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    margin-top: 8px;
}

#startTime>img,
#endTime>img {
    width: 16px;
    height: 16px;
    margin-top: 5px;
}

#startTime>span,
#endTime>span {
    font-size: 13px;
    line-height: 30px;
}

#startDate,
#endDate {
    color: #666666;
}

.selectCom {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 30px);
    margin-left: 15px;
    height: 44px;
    line-height: 44px;
    border-bottom: 1px solid rgb(240, 240, 240);
}

.selectCom>div {
    position: relative;
}

.selectCom>div span {
    right: 15px;
}

.selectCom span {
    font-size: 14px;
}

.selectCom img {
    width: 25px;
    height: 25px;
    position: absolute;
    top: -35px;
    right: -9px;
}

.okBox {
    position: relative;
    width: 100%;
    height: 44px;
}

.okBox div {
    top: 8px;
    position: absolute;
    width: calc((100% - 45px)/2);
    height: 28px;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
    line-height: 28px;
}

.ok {
    right: 15px;
    color: white;
    background-color: #7EB6FF;
}

.reset {
    left: 8px;
    color: #7EB6FF;
    border: 1px solid rgb(204, 204, 204);
}

.filterParamBg {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 10;
    top: 133px;
    left: 0;
    width: 100%;
    height: calc(100vh - 133px);
}

.noneParamBg {
    width: 100%;
    height: calc(100vh - 223px);
    position: absolute;
    bottom: 0;
    left: 0;
}