body {
    margin: 0;
    padding: 0;
    color: #333333;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    text-align: center;
    line-height: 44px;
    width: 100%;
    height: 44px;
    font-weight: bold;
    background-color: white;
    box-shadow: 0 2px 2px 0 rgba(231, 231, 231, 1);
}

header>img {
    position: absolute;
    top: 12px;
    left: 5px;
    width: 20px;
    height: 20px;
}

header>div {
    position: absolute;
    top: 0;
    right: 5px;
    height: 44px;
    line-height: 44px;
}

.next {
    line-height: 44px;
    color: #7EB6FF;
    margin-right: 10px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 20px 0 0 0;
}

li {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 46px;
    background-color: white;
    margin-bottom: 2px;
    line-height: 46px;
    padding: 0 15px 0 15px;
    box-sizing: border-box;
}

li img {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

li>div>span {
    color: rgb(153, 153, 153);
}

.userTypeBox{
    position: fixed;
    top: 44px;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 45px;
    background-color: white;
    display: flex;
    justify-content: space-around;
}

.userTypeBox div{
    line-height: 45px;
    
    box-sizing: border-box;
}

.user_com{
    border-bottom: 3px solid #7EB6FF;
}
.user_free,.user_cooperator{
    border: none;
}
.user_numTip{
    position: fixed;
    top: 88px;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    background-color: #efeff4;
}

.inserver{
    position: fixed;
    top: 118px;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 46px;
    padding: 0 15px;
    line-height: 46px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}
.com_ul,.free_ul,.cooper_ul{
    margin-top: 184px;
}
.free_ul,.cooper_ul{
    display: none;
}