body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    /* background-color: white; */
}

header {
    position: relative;
    width: 100%;
    height: 44px;
    box-shadow: 0 2px 2px 0 rgba(231, 231, 231, 1);
    font-weight: bold;
    text-align: center;
    line-height: 44px;
    background-color: white;
}

.backBox {
    position: absolute;
    left: 0;
    top: 0;
}

.backBox>img {
    margin: 12px 0 0 5px;
    float: left;
    /* position: absolute;
    top: 12px;
    left: 5px; */
    width: 20px;
    vertical-align: middle;
}

.backBox>span {
    float: left;
    vertical-align: middle;
    line-height: 46px;
    margin-left: 5px;
    color: #7EB6FF;
    font-weight: bold;
    font-size: 16px;
}

.cont {
    width: 100%;
    background-color: white;
    margin-top: 20px;
}

.tel,
.verify {
    position: relative;
    width: calc(100% - 30px);
    height: 40px;
    margin-left: 15px;
    line-height: 40px;
}

.tel {
    border-bottom: 1px solid rgba(231, 231, 231, 1);
}

#tel,
#verify {
    position: absolute;
    top: 0;
    left: 80px;
    width: 60%;
    height: 39px;
    outline: none;
    border: none;
}

.getVerify {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: right;
    color: #7EB6FF;
}

.nextBtn {
    width: 80%;
    height: 40px;
    background-color: #7EB6FF;
    color: white;
    text-align: center;
    line-height: 40px;
    border-radius: 4px;
    margin-left: 10%;
    margin-top: 40px;
}

.errorBg {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
}

.errorBg .error {
    position: absolute;
    padding: 10px 15px;
    top: calc((100vh - 25px)/2);
    left: 0;
    width: 50%;
    margin-left: 25%;
    background-color: rgba(126, 182, 255, 0.7);
    color: white;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    font-size: 15px;
    border-radius: 3px;
}