body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    color: #333333;
}

header {
    position: relative;
    width: 100%;
    height: 44px;
    box-shadow: 0 2px 2px 0 rgb(231, 231, 231);
    background-color: white;
    text-align: center;
    line-height: 44px;
    font-weight: bold;
}

header>img {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 11px;
    left: 5px;
}

header>div {
    position: absolute;
    top: 0;
    right: 10px;
    color: #7eb6ff;
}


/* .header {
    position: relative;
    width: 200px;
    height: 30px;
    border: 1px solid #7eb6ff;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 0 auto;
}

.user_com,
.user_free {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    text-align: center;
    line-height: 30px;
    font-size: 13px;
    font-weight: bold;
}

.user_com {
    left: 0;
    background-color: #7eb6ff;
    color: white;
}

.user_free {
    right: 0;
    color: #7eb6ff;
} */

ul {
    list-style: none;
    padding: 0;
    margin: 20px 0 0 0;
}

li {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 46px;
    background-color: white;
    margin-bottom: 2px;
    line-height: 46px;
    padding: 0 5px 0 15px;
    box-sizing: border-box;
}

li img {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

li>div>span {
    color: rgb(153, 153, 153);
}

.free {
    display: none;
}